## other idea
remove duplicates using running time 
    -> problem because same movies have 1 minute difference in running time in the two data sets
try to use anoter dataset than basics that has things in common with our dataset for removal of duplicates

### Ideal
finding mapping between movie id

data set:
https://datasets.imdbws.com/

In [1]:
import pandas as pd
import numpy as np

In [2]:
movie = pd.read_csv("MovieSummaries/movie.metadata.tsv", delimiter='\t',header=None)
character = pd.read_csv("MovieSummaries/character.metadata.tsv", delimiter='\t',header=None)
movie.columns = ['Wikipedia movie ID','Freebase movie ID','Movie name','Movie release date','Movie box office revenue','Movie runtime','Movie languages','Movie countries','Movie genres']
movie["Movie name"] = movie["Movie name"].str.capitalize()
movie["Movie name"] = movie["Movie name"].str.replace(r'[éè]', 'e', regex=True)

In [ ]:
# imdb1 has ratings, imdb identifier and number of votes
imdb1 = pd.read_csv('title.ratings.tsv', delimiter='\t')
# imdb2 has genres, title, year, etc
imdb2 = pd.read_csv('title.basics.tsv', delimiter='\t', low_memory=False)

In [ ]:
merged_df = pd.merge(imdb1, imdb2, on='tconst', how='inner')

In [ ]:
# in the imdb data set they include series and a lot of other things.
#  This removes a lot of movies that are not in the other data 
merged_2 = merged_df[(merged_df.titleType == 'movie')|(merged_df.titleType == 'tvMovie')]
# removing all the movies that have less than 30 votes 
# questionable step because some of the movies in our data set have 
# very low amount of votes
merged_3= merged_2[merged_2['numVotes'] >= 30]
# making the titles of the movies in the same format for both data set 
# for example in one data set a movie can be called "The matrix" and in the other "The Matrix"
merged_3.loc[:, 'primaryTitle'] = merged_3['primaryTitle'].str.capitalize()

In [ ]:
# removing all the columns that are not needed
merged_4 = merged_3.drop(columns=['numVotes' ,'titleType', 'isAdult', 'endYear', 'originalTitle', 'runtimeMinutes', 'genres', 'tconst'])

In [ ]:
# merging the data sets on our movie data set
merged_final = pd.merge(merged_4, movie, left_on='primaryTitle', right_on='Movie name', how='right')

In [ ]:
# creating a column that has the year of the movie release so that we can remove duplicates 
# that have the same name but different release year
merged_final["Movie release year"] = merged_final["Movie release date"].str[:4]

In [ ]:
# trying to remove duplicates
merged_final2 = merged_final[merged_final['Movie release year']==merged_final['startYear']]

In [ ]:
# drop colllumn that are not needed
merged_final2 = merged_final2.drop(columns=['primaryTitle', 'Movie release year', 'startYear', 'Movie release date'])

In [11]:
merged_final2

,averageRating,Wikipedia movie ID,Freebase movie ID,Movie name,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres
0,4.9,975900,/m/03vyhn,Ghosts of mars,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,6.0,3196793,/m/08yl5d,Getting away with murder: the jonbenet ramsey ...,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,5.6,28463795,/m/0crgdbh,Brun bitter,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,6.1,9363483,/m/0285_cd,White of the eye,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,5.9,261236,/m/01mrr1,A woman in flames,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"
...,...,...,...,...,...,...,...,...,...
122398,5.8,15394941,/m/03m6zh4,Gopi kishan,NaN,NaN,"{""/m/03k50"": ""Hindi Language""}","{""/m/03rk0"": ""India""}","{""/m/07s9rl0"": ""Drama"", ""/m/02kdv5l"": ""Action""..."
122404,6.1,23851782,/m/06_vb43,The ghost train,NaN,82.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/01jfsb"": ""Th..."
122410,4.6,35228177,/m/0j7hxnt,Mermaids: the body found,NaN,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}"
122411,6.8,34980460,/m/0g4pl34,Knuckle,NaN,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/03rt9"": ""Ireland"", ""/m/07ssc"": ""United Ki...","{""/m/03bxz7"": ""Biographical film"", ""/m/07s9rl0..."
122412,5.9,9971909,/m/02pygw1,Another nice mess,NaN,66.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06nbt"": ""Satire"", ""/m/01z4y"": ""Comedy""}"